.container {
  max-width: 1200px;
}

.padding {
  padding: 1em;
}

.text-center {
  text-align: center;
}

.preloader-wrapper {
  display: block;
  margin: auto;
}

.spinner-layer {
  margin: auto;
}
/*body {
  background-color: #afafaf;
}*/

.spinner-layer.spinner-white-only {
  border-color: #fff;
}